/vendor
/node_modules
/.env
/.env.backup
/acessos.local.txt
/.phpunit.result.cache
/bootstrap/cache/*.php
/public/hot
/public/storage
/public/img/events/*
!/public/img/events/.gitkeep
/storage/*.key
npm-debug.log
yarn-error.log
auth.json
Homestead.json
Homestead.yaml
/.idea
/.vscode
